input{
    width: 50%;
    padding: 12px 0 3px 3px;
    border: none;
    border-bottom: solid 1px #F5751A;
    font-size: 18px;
    caret-color: #F5751A;
    outline: none;
    transition: .3s ease all;
    color: #616161;
}